{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/login_user.css' %}">
    <title>Document</title>
</head>
<body>
    <section class="home">
        <div class="cont-login">
            <a href="{% url 'user:login' %}">Login</a>

            <a href="{% url 'user:cadastro' %}">Cadastro</a>
        </div>
        <div class="test_login">
            <a href="{% url 'user:plataforma' %}">Teste de login</a>
        </div>
        <div class="test_login logout">
            <a href="{% url 'user:logout' %}">logout</a>
        </div>
    </section>
</body>
</html>